.container{
    max-width: 1296px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-content-between{
    justify-content: space-between;
}

.text-decoration-none{
    text-decoration: none;
}

.p-80{
    padding: 80px 0;
}