@import 'reset';
@import 'variable';
@import 'utilities';

.shop {
    padding: 96px 0 32px 0;

    h2 {
        font-size: $font-size-h3;
        padding-left: 16px;
        border-left: 8px solid #9F1213;
        font-weight: bold;
        margin-bottom: 32px;
    }

    .select-location {
        margin-bottom: 41px;

        span {
            max-width: 96px;
            font-size: $font-size-l;
            margin-right: 28px;
        }
    }

    select {
        display: inline-block;
        width: 304px;
        height: 38px;
        color: #495057;
        border: 1px solid #CED4DA;
    }
}

.shop-info {
    .contact {
        padding: 16px 28px;
        border: 1px solid #00000020;
    }

    ul {
        flex-wrap: wrap;

        &:after {
            content: "";
            width: 32%;
        }
    }

    li {
        width: 32%;
        margin-bottom: 48px;
    }

    h3 {
        font-size: $font-size-l;
        padding: 8px 24px;
        border: 1px solid #00000020;
    }

    p {
        font-family: $font-noto;
        display: inline-block;
        font-size: $font-size-m;
    }

    span {
        font-size: 20px;
        line-height: 1.5;
        margin-right: 12px;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    .icon,
    .text {
        flex-direction: column;
    }

    a {
        display: block;
        width: 100%;
        text-align: center;
        line-height: 59px;
        color: $white;
        background-color: $black;
    }
}

//page-2
.shop-detail {
    max-width: 526px;

    li {
        width: 100%;
    }

    img {
        width: 100%;
        max-height: 224px;
        object-fit: cover;
    }

    h3 {
        height: 52px;
        font-size: $font-size-m;
    }

    .contact{
        height: 138px;
    }
}

.map {
    max-width: 746px;
}