/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  font-family: 'Noto Sans TC', sans-serif, 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif; }

.container {
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 1064px;
      padding: 0 36px; } }
  @media (max-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 36px; } }
  @media (max-width: 320px), (max-width: 575px) {
    .container {
      max-width: 575px;
      padding: 0 14px; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.p-80 {
  padding: 80px 0; }
  @media (max-width: 320px), (max-width: 575px) {
    .p-80 {
      padding: 40px 0; } }

.question {
  padding: 96px 0 48px 0; }
  .question h2 {
    font-size: 3rem;
    margin-bottom: 32px;
    border-left: 8px solid #9F1213;
    padding-left: 16px; }
  .question h3 {
    font-size: 1.5rem;
    margin-bottom: 24px; }
  .question h4 {
    font-size: 1.25rem;
    margin-bottom: 8px; }
  .question h2,
  .question h3,
  .question h4 {
    font-weight: bold; }
  .question li {
    max-width: 856px;
    margin-bottom: 32px; }
  @media (max-width: 768px) {
    .question {
      padding: 80px 0; } }
  @media (max-width: 320px), (max-width: 575px) {
    .question {
      padding: 40px 0 64px 0; }
      .question li {
        margin-bottom: 24px; }
      .question h2 {
        font-size: 1.5rem;
        margin-bottom: 24px; } }

/*# sourceMappingURL=question.css.map */
