/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  font-family: 'Noto Sans TC', sans-serif, 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif; }

.container {
  max-width: 1296px;
  margin: 0 auto; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.text-decoration-none {
  text-decoration: none; }

.p-80 {
  padding: 80px 0; }

.shop {
  padding: 96px 0 32px 0; }
  .shop h2 {
    font-size: 3rem;
    padding-left: 16px;
    border-left: 8px solid #9F1213;
    font-weight: bold;
    margin-bottom: 32px; }
  .shop .select-location {
    margin-bottom: 41px; }
    .shop .select-location span {
      max-width: 96px;
      font-size: 1.5rem;
      margin-right: 28px; }
  .shop select {
    display: inline-block;
    width: 304px;
    height: 38px;
    color: #495057;
    border: 1px solid #CED4DA; }

.shop-info .contact {
  padding: 16px 28px;
  border: 1px solid #00000020; }

.shop-info ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .shop-info ul:after {
    content: "";
    width: 32%; }

.shop-info li {
  width: 32%;
  margin-bottom: 48px; }

.shop-info h3 {
  font-size: 1.5rem;
  padding: 8px 24px;
  border: 1px solid #00000020; }

.shop-info p {
  font-family: "Noto Sans TC", sans-serif;
  display: inline-block;
  font-size: 1.25rem; }

.shop-info span {
  font-size: 20px;
  line-height: 1.5;
  margin-right: 12px; }

.shop-info img {
  display: block;
  width: 100%;
  height: auto; }

.shop-info .icon,
.shop-info .text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.shop-info a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 59px;
  color: #FFFFFF;
  background-color: #000000; }

.shop-detail {
  max-width: 526px; }
  .shop-detail li {
    width: 100%; }
  .shop-detail img {
    width: 100%;
    max-height: 224px;
    -o-object-fit: cover;
       object-fit: cover; }
  .shop-detail h3 {
    height: 52px;
    font-size: 1.25rem; }
  .shop-detail .contact {
    height: 138px; }

.map {
  max-width: 746px; }

/*# sourceMappingURL=shop.css.map */
